<!-- Wrapper -->
<div id="wrapper">

  <!-- Intro -->
  <section class="intro">
    <header>
      <h1> {{ 'home.title' | translate }}</h1>
      <p>Indépendamment de la convergence des expertises, le marché exige d'optimiser les contenus crédibilité.</p>
      <ul class="actions">
        <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
      </ul>
    </header>
    <div class="content d-flex align-items-center">
      <form>
        <div class="inner-form">
          <div class="basic-search">
            <div class="input-field">
              <input id="search" type="text" placeholder="🔍 Search..."/>
              <div class="result-count">
                <span>{{demandes.length}} </span>results
              </div>
            </div>
          </div>
          <div class="advance-search">
            <span class="desc">Advanced Search</span>
            <div class="row">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">ACCESSORIES</option>
                    <option>ACCESSORIES</option>
                    <option>SUBJECT B</option>
                    <option>SUBJECT C</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">COLOR</option>
                    <option>GREEN</option>
                    <option>SUBJECT B</option>
                    <option>SUBJECT C</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">SIZE</option>
                    <option>SIZE</option>
                    <option>SUBJECT B</option>
                    <option>SUBJECT C</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row second">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">SALE</option>
                    <option>SALE</option>
                    <option>SUBJECT B</option>
                    <option>SUBJECT C</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">TIME</option>
                    <option>THIS WEEK</option>
                    <option>SUBJECT B</option>
                    <option>SUBJECT C</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">TYPE</option>
                    <option>TYPE</option>
                    <option>SUBJECT B</option>
                    <option>SUBJECT C</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row third" style="float: right">
              <div class="input-field">
                <button class="btn-search" type="submit" (click)="search()">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section>
    <header>
      <h2>Get in touch</h2>
    </header>
    <div class="content">
      <p><strong>Auctor commodo</strong> interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque
        venenatis dolor imperdiet dolor mattis sagittis.</p>
      <form>
        <div class="fields">
          <div class="field half">
            <input type="text" name="name" id="name" placeholder="Name"/>
          </div>
          <div class="field half">
            <input type="email" name="email" id="email" placeholder="Email"/>
          </div>
          <div class="field">
            <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" class="button primary"/></li>
        </ul>
      </form>
    </div>
    <footer>
      <ul class="items">
        <li>
          <h3>Email</h3>
          <a href="#">information@untitled.ext</a>
        </li>
        <li>
          <h3>Phone</h3>
          <a href="#">(000) 000-0000</a>
        </li>
        <li>
          <h3>Address</h3>
          <span>1234 Somewhere Road, Nashville, TN 00000</span>
        </li>
        <li>
          <h3>Elsewhere</h3>
          <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-codepen"><span class="label">Codepen</span></a></li>
          </ul>
        </li>
      </ul>
    </footer>
  </section>

  <!-- Copyright -->
  <div class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

</div>
